.board {
  --theme: var(--ctheme-blue);
  background: var(--theme);
}
.main {
  --padd-h: 15px;
  --padd-v: 15px;
  --list-padd: 8px;

  background: linear-gradient(#0000003d, #0000 130px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.back_btn {
  padding: 5px 10px;
  margin-right: 15px;
}
.title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.lists_wrapper {
  overflow-x: scroll;
  flex-grow: 1;
}
.lists {
  padding: 0 10px 10px;
  width: fit-content;
  display: flex;
  align-items: stretch;
  max-height: 100%;
}
.list_wrapper {
  margin-right: 10px;
}
.list {
  padding: var(--list-padd);
  max-height: 100%;
}
.add_list_btn {
  padding: var(--padd-v) var(--padd-h);
  font-size: 16px;
}
.list,
.add_list_btn {
  min-width: 300px;
}
