.header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.title img {
  height: 1em;
  margin-right: 10px;
}
