@import 'reset.css';

:root {
  --theme: #fff;
  --ui-bdr: 3px;

  --btn-bg-tsp: rgba(255, 255, 255, 0.2);
  --btn-bg-tsp-hv: rgba(255, 255, 255, 0.3);
  --btn-bg-tsp-cl: rgba(255, 255, 255, 0.4);

  --form-ui-bd: 2px solid #dfe1e6;
  --form-ui-bd-fc: 2px solid #0079bf;
  --form-ui-bd-rq: 2px solid #eb5a46;
  --form-ui-bg: #fafbfc;
  --form-ui-bg-hv: #ebecf0;

  --ctheme-blue: #127abd;
  --ctheme-orange: #d18f3e;
  --ctheme-green: #53973f;
  --ctheme-red: #ae4736;
  --ctheme-purple: #88629c;
  --ctheme-pink: #cb5c91;
  --ctheme-lime: #50be6e;
  --ctheme-skyblue: #1caeca;
  --ctheme-grey: #838c91;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.x-bi-spr {
  margin-right: 0.5ch;
}

.container {
  width: 75%;
  margin: 0 auto;
}
.section {
  margin-top: 10px;
}
.heading {
  font-size: 30px;
  margin-bottom: 20px;
  color: #777;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.modal-item:not(:first-child) {
  margin-top: 10px;
}
